![Two data scientists working on a dashboard.](hr-image-small.png)

Um problema comum ao criar modelos para gerar valor de negócio a partir de dados é que os conjuntos de dados podem ser tão grandes que o modelo pode levar dias para gerar previsões. Garantir que seu conjunto de dados esteja armazenado da forma mais eficiente possível é crucial para permitir que esses modelos rodem em um prazo mais razoável, sem precisar reduzir o tamanho do conjunto de dados.

Você foi contratado por uma grande empresa de treinamento em ciência de dados online chamada Training Data Ltd. para limpar um dos maiores conjuntos de dados de clientes. Esse conjunto de dados será eventualmente usado para prever se seus estudantes estão procurando um novo emprego ou não, informação que será então utilizada para direcioná-los a recrutadores em potencial.

Você recebeu acesso ao customer_train.csv, que é um subconjunto de todo o conjunto de dados de clientes, para que possa criar uma prova de conceito de uma solução de armazenamento muito mais eficiente. O conjunto de dados contém informações anonimizadas dos estudantes, e se eles estavam ou não procurando um novo emprego durante o treinamento:


| Column                   | Description                                                                 |
|---------------------------|------------------------------------------------------------------------------|
| student_id               | Um ID único para cada estudante.                                            |
| city                     | Um código para a cidade em que o estudante mora.                            |
| city_development_index   | Um índice de desenvolvimento escalonado para a cidade.                      |
| gender                   | O gênero do estudante.                                                      |
| relevant_experience      | Um indicador da experiência de trabalho relevante do estudante.             |
| enrolled_university      | O tipo de curso universitário em que está matriculado (se houver).          |
| education_level          | O nível de escolaridade do estudante.                                       |
| major_discipline         | A área de formação educacional do estudante.                                |
| experience               | A experiência total de trabalho do estudante (em anos).                     |
| company_size             | O número de funcionários na empresa atual do estudante.                     |
| company_type             | O tipo de empresa que emprega o estudante.                                  |
| last_new_job             | O número de anos entre o emprego atual e o anterior do estudante.           |
| training_hours           | O número de horas de treinamento concluídas.                                |
| job_change               | Um indicador de se o estudante está procurando um novo emprego (1) ou não (0). |

In [1]:
# Bibliotecas necessárias
import pandas as pd

# Carregando o dataset
ds_jobs = pd.read_csv("customer_train.csv")

# Verificando se carregamos corretamente e como é o nosso dataset
ds_jobs.head()

   student_id      city  ...  training_hours job_change
0        8949  city_103  ...              36        1.0
1       29725   city_40  ...              47        0.0
2       11561   city_21  ...              83        0.0
3       33241  city_115  ...              52        1.0
4         666  city_162  ...               8        0.0

[5 rows x 14 columns]

1) Análise exploratória dos dados

   A primeira coisa que eu faço é entender o que eu tenho na mão:
    - Qual o tamanho do DataFrame?
    - Quais são os tipos de dados (dtypes) de cada coluna?
    - Quantos valores únicos existem em cada coluna? (isso me ajuda a decidir se é nominal, ordinal, booleana, etc.)
    - E dou uma olhada rápida nos valores mais comuns nas colunas categóricas para já planejar o que e como vou converter.

In [2]:
# 1) Análise exploratória dos dados ----------------------------------------------------------
# Visão geral
print("Shape:", ds_jobs.shape)
ds_jobs.info(memory_usage="deep")

# Cardinalidade por coluna (rápido para mapear dtypes alvo)
print("\nCardinalidade por coluna:")
print(ds_jobs.nunique(dropna=True).sort_values())

# Amostra de valores por coluna categórica (limitando top 10 pra n ficar muito longo)
cat_like = ds_jobs.select_dtypes(include=["object"]).columns.tolist()
print("\nAmostra de valores por coluna categórica (top 10):")
for c in cat_like:
    print(f"\n--- {c} ---")
    print(ds_jobs[c].value_counts(dropna=False).head(10))

Shape: (19158, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 11.8 MB

Cardinalidade por coluna:
relevant_experience           2
job_change                    2
gender                        3
enrolled_university           3
education_level               5
major_discipline              6
company_type                  6
last_new_job                  6
company_size                  8
experience                   22
city_development_index       93
city                        123
training_hours              241
student_id                19158
dtype: int64

Amostra de valores por coluna categórica (top 10):

--- city ---
city_103    4355
city_21     2702
city_16     1533
city_114    1336
city_160     845
city_136     586
city_67      431
city_75      305
city_102     304
city_104     301
Name: city, dtype: int64

--- gender ---
Male      13221
NaN        4508
Female     1238
Other       191
Name: gender, dtype: int64

--- relevant_experience ---
Has relevant experience    13792
No relevant experience      5366
Name: relevant_experience, dtype: int64

--- enrolled_university ---
no_enrollment       13817
Full time course     3757
Part time course     1198
NaN                   386
Name: enrolled_university, dtype: int64

--- education_level ---
Graduate          11598
Masters            4361
High School        2017
NaN                 460
Phd                 414
Primary School      308
Name: education_level, dtype: int64

--- major_discipline ---
STEM               14492
NaN                 2813
Humanities           669
Other                381
Business Degree      327
Arts                 253
No Major             223
Name: major_discipline, dtype: int64

--- experience ---
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
Name: experience, dtype: int64

--- company_size ---
NaN          5938
50-99        3083
100-499      2571
10000+       2019
10-49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: company_size, dtype: int64

--- company_type ---
Pvt Ltd                9817
NaN                    6140
Funded Startup         1001
Public Sector           955
Early Stage Startup     603
NGO                     521
Other                   121
Name: company_type, dtype: int64

--- last_new_job ---
1        8040
>4       3290
2        2900
never    2452
4        1029
3        1024
NaN       423
Name: last_new_job, dtype: int64

2) Converter integers, floats e categorias não ordenadas
Objetivo: aplicar int32, float16, category, bool conforme os dados permitem.

Notas rápidas

Uso .astype() direto onde não há valores ausentes (NaN) problemáticos.

Para booleana de string (relevant_experience), uso .map() ⇒ True/False e depois .astype(bool).

Se alguma coluna tiver NaN e você preferir manter nulos em booleano, troque bool por o tipo pandas 'boolean' (nullable). Como o projeto pediu bool, mantenho bool.

In [3]:
# 2) Conversões base ----------------------------------------------------------
#fazendo uma cópia para transformar
ds_jobs_transformed = ds_jobs.copy()

# Numéricas diretas
int32_cols = ["student_id", "training_hours"]
for c in int32_cols:
    ds_jobs_transformed[c] = ds_jobs_transformed[c].astype("int32")

float16_cols = ["city_development_index"]
for c in float16_cols:
    ds_jobs_transformed[c] = ds_jobs_transformed[c].astype("float16")

# Bool (duas categorias)
# job_change já é 0/1 -> booleano direto
ds_jobs_transformed["job_change"] = ds_jobs_transformed["job_change"].astype(bool)

# relevant_experience -> map para bool
# obs: se houver valores ausentes e você quiser 'boolean' (nullable), troque para .astype("boolean")
ds_jobs_transformed["relevant_experience"] = (
    ds_jobs_transformed["relevant_experience"]
      .map({"No relevant experience": False, "Has relevant experience": True})
      .astype(bool)
)

# Nominal -> category
nominal_cols = ["city", "gender", "enrolled_university", "major_discipline", "company_type"]
for c in nominal_cols:
    ds_jobs_transformed[c] = ds_jobs_transformed[c].astype("category")
#Para conferir se todas as conversões aconteceram corretamente
print("Conversões feitas na base")

Conversões feitas na base

3) Converter categorias ordenadas

Objetivo: criar CategoricalDtype ordenado e aplicar com .astype(ordered_dtype).

Notas rápidas

Mantive suas listas (das mensagens anteriores) para experience, company_size e alinhei o natural em education_level e last_new_job.

Ordenação ascendente = do menor para o maior.

In [4]:
# 3) Categorias ordenadas -----------------------------------------------------
# enrolled_university — "nenhum curso" < "meio período" < "integral"
enrolled_order = ["no_enrollment", "Part time course", "Full time course"]
ds_jobs_transformed["enrolled_university"] = (
    ds_jobs_transformed["enrolled_university"]
      .astype("category")
      .cat.set_categories(enrolled_order, ordered=True)
      .cat.remove_unused_categories()
)

# education_level — da base para o topo acadêmico
edu_order = ['Primary School', 'High School', 'Graduate', 'Masters', 'Phd']
ds_jobs_transformed["education_level"] = (
    ds_jobs_transformed["education_level"]
      .astype("category")
      .cat.set_categories(edu_order, ordered=True)
      .cat.remove_unused_categories()
)

# experience — ordem natural do júnior ao sêniorzão (lista explícita)
exp_order = [
    '<1', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10',
    '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '>20'
]
ds_jobs_transformed["experience"] = (
    ds_jobs_transformed["experience"]
      .astype("category")
      .cat.set_categories(exp_order, ordered=True)
      .cat.remove_unused_categories()
)

# company_size — do menor porte ao enterprise
company_size_order = [
    '<10', '10-49', '50-99', '100-499', '500-999',
    '1000-4999', '5000-9999', '10000+'
]
ds_jobs_transformed["company_size"] = (
    ds_jobs_transformed["company_size"]
      .astype("category")
      .cat.set_categories(company_size_order, ordered=True)
      .cat.remove_unused_categories()
)

# last_new_job — "nunca mudei" é o menor, ">4" é o maior
last_new_job_order = ['never', '1', '2', '3', '4', '>4']
ds_jobs_transformed["last_new_job"] = (
    ds_jobs_transformed["last_new_job"]
      .astype("category")
      .cat.set_categories(last_new_job_order, ordered=True)
      .cat.remove_unused_categories()
)

# checagem rápida
for c in [
    "enrolled_university",
    "education_level",
    "experience",
    "company_size",
    "last_new_job"
]:
    assert ds_jobs_transformed[c].cat.ordered, f"{c} não ficou como ordered=True"

#Para conferir se todas as conversões aconteceram corretamente
print("Categorias ordenadas e conversões feitas")

Categorias ordenadas e conversões feitas

4) Filtrando com base nas categorias já ordenandas

Requisito: manter apenas alunos com ≥ 10 anos de experiência e empresa com ≥ 1000 empregados.

Notas rápidas:

- Com CategoricalDtype(ordered=True), posso filtrar por comparação de string (>= '10'), porque a ordem está definida nas categorias.

- Para company_size, uso o primeiro degrau “enterprise”: '1000-4999'.

In [6]:
# 4) Filtrando com base nas categorias já ordenandas -----------------------------------------------------
print("Shape pré-filtro:", ds_jobs_transformed.shape)

filtro = (
    (ds_jobs_transformed["experience"] >= "10") &
    (ds_jobs_transformed["company_size"] >= "1000-4999")
)
ds_jobs_transformed_filtro = ds_jobs_transformed.loc[filtro].reset_index(drop=True)

print("Shape pós-filtro:", ds_jobs_transformed_filtro.shape)

Shape pré-filtro: (19158, 14)
Shape pós-filtro: (2201, 14)

5. Checagem final: dtypes + memória (antes vs. depois)

Por quê: validar que cada coluna bate o requisito e que a memória caiu mesmo de forma perceptível.

In [7]:
# 5) Checagem final: dtypes + memória (antes vs. depois) -----------------------------------------------------
# Função de checagem simples
def check_dtypes(df):
    return pd.Series({c: str(df[c].dtype) for c in df.columns})

print("\nDtypes originais:")
print(check_dtypes(ds_jobs))

print("\nDtypes transformados:")
print(check_dtypes(ds_jobs_transformed))

print("\n.info() original:")
ds_jobs.info(memory_usage="deep")

print("\n.info() transformado:")
ds_jobs_transformed.info(memory_usage="deep")

# Memória (bytes) e economia %
before = ds_jobs.memory_usage(deep=True).sum()
after  = ds_jobs_transformed.memory_usage(deep=True).sum()
saved  = before - after
pct    = (saved / before) * 100 if before else 0.0

print(f"\nMemória antes : {before:,.0f} bytes")
print(f"Memória depois: {after:,.0f} bytes")
print(f"Economia      : {saved:,.0f} bytes ({pct:.2f}%)")

Dtypes originais:
student_id                  int64
city                       object
city_development_index    float64
gender                     object
relevant_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
job_change                float64
dtype: object

Dtypes transformados:
student_id                   int32
city                      category
city_development_index     float16
gender                    category
relevant_experience           bool
enrolled_university       category
education_level           category
major_discipline          category
experience                category
company_size              category
company_type              category
last_new_job              category
training_hours               int32
job_change                    bool
dtype: object

.info() original:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 11.8 MB

.info() transformado:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int32
 1   city                    19158 non-null  category
 2   city_development_index  19158 non-null  float16
 3   gender                  14650 non-null  category
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  category
 6   education_level         18698 non-null  category
 7   major_discipline        16345 non-null  category
 8   experience              19093 non-null  category
 9   company_size            13220 non-null  category
 10  company_type            13018 non-null  category
 11  last_new_job            18735 non-null  category
 12  training_hours          19158 non-null  int32
 13  job_change              19158 non-null  bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 409.7 KB

Memória antes : 12,391,705 bytes
Memória depois: 419,513 bytes
Economia      : 11,972,192 bytes (96.61%)